<div class="container">
    <div class="row">
        <div class="col-md-9">

<div class="card shadow-effect">
    <img src="https://s3.amazonaws.com/thumbnails.illustrationsource.com/huge.8.42597.JPG" alt="" class="card-img-top img-fluid">
    <div class="card-body"></div>
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center"> Featured </small>
    <small class="bg-light text-Info text-center"> Views - 0 </small>
    <small class="bg-light text-warning text-center"> LAST UPDATED 18/09/2023 </small>
    <h1 class="mt3 mb-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam alias consequuntur impedit, voluptas neque quo illo nisi reprehenderit atque velit magnam, blanditiis quos repudiandae architecto aperiam consequatur. Architecto, praesentium nihil!</p>
</div>

<app-comment-form></app-comment-form>
<app-comment-list></app-comment-list>

        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
